@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.background-color{
    width: 100%;
    height: 100vh;
    background-color: #060606;
    margin-top: -75px;
    position: relative;
}

.why-us-description{
    position: absolute;
    left: 131px;
    top: 301px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: regular;
    letter-spacing: -1px;
}

.why-us-answer{
    position: absolute;
    left: 131px;
    top: 379px;
    text-align: left;
    color: white;
    font-size: 42px;
    line-height: 70px;
    font-weight: bold;
    width: 576px;
    font-family: "Poppins", sans-serif;
}


.image-card{
    position: absolute;
    overflow: hidden;
    top: 320px;
    right: 199px;
    background: white;
    width: 521px;
    height: 293px;
    z-index: 4;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.middle-right-items{
    position: absolute;
    top: 577px;
    right: 43px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-holder{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.icon-holder:hover{
    background-color: #ff242b;
    color: #ececec;
}

.middle-right-items-link{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: regular;
    text-transform: uppercase;
    color: #fff;
    writing-mode: vertical-lr;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.middle-right-items-link:hover{
    color: #ff242b;
}
/*large view*/
@media screen and (min-width: 1200px) and (max-width: 1400px){
    .why-us-answer{
        font-size: 2rem;
        width: 500px;
        line-height: 50px;
    }
    
    .image-card{
        right: 40px;
    }

    .middle-right-items{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 80%;
        bottom: 3%;
        left: -21%;
    }
    .icon-holder{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        left: 0%;
    }
    .responsive-mobile-icon{
        font-size: 1.5rem;
    }
    .middle-right-items-link{
        writing-mode: unset;
        margin-left: 10px;
        font-size: 2rem;
        margin-top: 0px;
    }
}

/* Tablet View */
@media screen and (min-width: 768px) and (max-width:1200px){
    .why-us-description{
        top: 12%;
        left: 6%;
    }
    .why-us-answer{
        left: 6%;
        top: 20%;
        font-size: 2rem;
        width: 450px;
        line-height: 40px;
    }
    .image-card{
        width: 600px;
        height: 225px;
        margin: 0 auto;
        left: 2%;
    }

    .original-image{
        height: 226px;
        width: 600px;
        display: block;
        object-fit: cover;
    }

    .middle-right-items{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 80%;
        bottom: 3%;
        left: -18%;
    }
    .icon-holder{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        left: 0%;
    }
    .responsive-mobile-icon{
        font-size: 1.5rem;
    }
    .middle-right-items-link{
        writing-mode: unset;
        margin-left: 10px;
        font-size: 2rem;
        margin-top: 0px;
    }
}



/* Mobile View */
@media screen and (min-width: 320px) and (max-width: 767px){
    .why-us-description{
        top: 12%;
        left: 6%;
    }

    .why-us-answer{
        left: 6%;
        top: 20%;
        font-size: 2rem;
        width: 450px;
        line-height: 40px;
    }

    .image-card{
        width: 440px;
        height: 225px;
        margin: 0 auto;
        left: 6%;
    }

    .original-image{
        height: 226px;
        width: 440px;
        display: block;
        object-fit: cover;
    }

    .middle-right-items{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 80%;
        bottom: 3%;
        left: -6%;
    }
    .icon-holder{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        left: 0%;
    }
    .responsive-mobile-icon{
        font-size: 1.5rem;
    }
    .middle-right-items-link{
        writing-mode: unset;
        margin-left: 10px;
        font-size: 2rem;
        margin-top: 0px;
    }
}